<nav
  *ngIf="this.cmService.isLoggedIn()"
  class="navbar navbar-expand-lg shadow-md py-1 bg-blue-600 relative flex items-center w-full justify-between"
>
  <div class="px-6 w-full flex flex-wrap items-center justify-between">
    <div
      class="navbar-collapse collapse grow items-center"
      id="navbarSupportedContentY"
    >
      <ul class="navbar-nav mr-auto lg:flex lg:flex-row">
        <li class="nav-item">
          <a
            class="nav-link block pr-2 lg:px-2 py-2 text-black-600 hover:text-black-700 focus:text-black-700 transition duration-150 ease-in-out"
            href="#!"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link block pr-2 lg:px-2 py-2 text-black-600 hover:text-black-700 focus:text-black-700 transition duration-150 ease-in-out"
            href="#!"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            >Features</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link block pr-2 lg:px-2 py-2 text-black-600 hover:text-black-700 focus:text-black-700 transition duration-150 ease-in-out"
            href="#!"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            >Pricing</a
          >
        </li>
        <li class="nav-item mb-2 lg:mb-0">
          <a
            class="nav-link block pr-2 lg:px-2 py-2 text-black-600 hover:text-black-700 focus:text-black-700 transition duration-150 ease-in-out"
            href="#!"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="mr-6 flex flex-wrap-reverse">
    <a
      class="nav-link block pr-2 lg:px-2 py-2 text-black-600 hover:text-black-700 focus:text-black-700 transition duration-150 ease-in-out"
      (click)="signOut()"
      >SignOut</a
    >
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
