<div>
  <div class="w-full">
    <div class="border-bottom-1 position-relative w-full top-6">
      <div class="bg-green-600 border-2 flex align-center px-1 py-2 mt-1">
        <div class="width-full">Veg Pizza</div>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap" *ngFor="let pizza of pizza">
    <div class="bg-white-200" *ngFor="let veg of pizza.veg">
      <div class="p-4 max-w-sm rounded overflow-hidden shadow-lg">
        <img
          class="w-full h-100"
          src="{{ veg.imgUrl }}"
          alt="Sunset in the mountains"
        />
        <div class="z-20"><h1>Customise</h1></div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ veg.name }}</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2 mt-2">
          <div class="width-5">
            <label class="bg-gray-300">Size</label>
            <select
              class="inline-block bg-white rounded-0 px-3 py-1 text-sm font-semibold mr-2 mb-2"
            >
              <option
                class="bg-white-100 text-gray-900"
                *ngFor="let size of veg.size"
              >
                {{ size.size | uppercase }}
                <span>{{ size.price }} &#8377; </span>
              </option>
            </select>
          </div>
          <div class="width-5">
            <label class="bg-gray-300">Crust</label>
            <select
              class="inline-block bg-white rounded-0 px-3 py-1 text-sm font-semibold text-gray-600 mr-2 mb-2"
            >
              <option *ngFor="let crust of crust">{{ crust }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <!-- non veg -->
  <div class="w-full">
    <div class="border-bottom-1 position-relative w-full top-6">
      <div class="bg-red-500 border-2 flex align-center px-1 py-2 mt-1">
        <div class="width-full">Nonveg Pizza</div>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap" *ngFor="let pizza of pizza">
    <div class="bg-white-200" *ngFor="let nonv of pizza.nonVeg">
      <div class="p-4 max-w-sm rounded overflow-hidden shadow-lg">
        <img
          class="w-full h-100"
          src="{{ nonv.imgUrl }}"
          alt="{{ nonv.name }}"
        />
        <div class="z-20">
          <a type="button" (click)="customisePizza(nonv)">Customise</a>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ nonv.name }}</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2 mt-2">
          <div class="width-5">
            <label class="bg-gray-300">Size</label>
            <select
              class="inline-block bg-white rounded-0 px-3 py-1 text-sm font-semibold mr-2 mb-2"
            >
              <option
                class="bg-white-100 text-gray-900"
                *ngFor="let size of nonv.size"
              >
                {{ size.size | uppercase }}
                <span>{{ size.price }} &#8377; </span>
              </option>
            </select>
          </div>
          <div class="width-5">
            <label class="bg-gray-300">Crust</label>
            <select
              class="inline-block bg-white rounded-0 px-3 py-1 text-sm font-semibold text-gray-600 mr-2 mb-2"
            >
              <option *ngFor="let crust of crust">{{ crust }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
